@CHARSET "UTF-8";
#main {
	overflow: auto;
	width: 100%;
	padding: 0;
}

html {
	position: relative;
	min-height: 100%;
}

body {
	margin-top: 50px;
	margin-bottom: 60px;
	padding: 0;
}
#top {
	background-color: #ffffff;
}
.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #f8f8f8;
}

.text-muted {
	margin: 20px 0;
}